<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/landingPage/landingPage.css" id="lazy-loaded-css">
    <link rel="stylesheet" href="/static/mainPage.css">
    <meta charset="UTF-8">
    <title>My Homepage</title>
</head>
<body>
<div id="main-div">
    <div id="mirror"></div>
    <div id="nav-bar"></div>
    <div id="content-div"></div>

</div>
<script type="module"  src ="{{ url_for('static', filename='main.js')}}" ></script>
<script type="module"  src ="{{ url_for('static', filename='landingPage/landingPage.js')}}" id="lazy-loaded-js"></script>
</body></html>
