<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>My Homepage</title>
</head>
<body>
{#<script type="text/javascript"  src ="{{ url_for('static', filename='menubar.js')}}"></script>#}
<script type="text/javascript"  src ="{{ url_for('static', filename='mastermind.js')}}"></script>
<h1>Title</h1>
<div id="main-div">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div id="content-div"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
</body></html>
