.letter-box {
    display: grid;
    grid-template-rows: repeat(7,1fr);
    margin: 2px;
}

.pixel-active{
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    margin: 0.5px;
    transition-property: transform;
    transition-duration: 2s;
    opacity: 0;
}
.pixel-fade {
    transform: rotateZ(.5turn);
    opacity: 1;
}

.pixel-active:hover{
    transform: rotateZ(180deg);

}
#nav-bar{
    font-size: 2em;
}

.nav-bar-entry{
    margin: 5px;
    cursor: pointer;
}

.nav-bar-entry:hover{
    font-family:  raleway-bold, sans-serif;
}
